* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*下落动画*/
@keyframes taps {
    0% {
        top: -20%;
        opacity: 1
    }

    100% {
        top: 140%
    }
}

/*点击动画*/
@keyframes clicked_4 {
    0% {
        opacity: 1
    }

    100% {
        transform: scale(1.25, 3);
        opacity: 0
    }
}

@keyframes clicked_6 {
    0% {
        opacity: 1
    }

    100% {
        transform: scale(1.11, 2.6);
        opacity: 0
    }
}

/*文字特效动画*/
@keyframes text {
    0% {
        top: 55%;
        left: 40%;
        transform: scale(1.5);
        opacity: 0.5;
    }

    20% {
        transform: scale(1);
        opacity: 1;
    }

    75% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/*评级动画*/
@keyframes rank {
    0% {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%)scale(25);
        opacity: 0;
    }

    100% {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%)scale(20);
        opacity: 1;
    }
}

/*ending（评级背景）动画*/
@keyframes rankingbg {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

body {
    background-color: rgb(247, 223, 176);
}

button {
    background-color: rgb(242, 192, 132);
    color: rgb(158, 65, 3);
    border-radius: 10%;
    border-color: rgb(242, 192, 132);
}

.text {
    color: rgb(158, 65, 3);
}

#atap {
    position: fixed;
    animation-name: taps;
    animation-duration: 5000ms;
    top: 20%;
    left: 21.5%;
    width: 12%;
    height: 4%;
    animation-timing-function: linear;
    z-index: 98;
    transform-origin: center;
}

#window {
    height: 100%;
    width: 100%;
}

.notes {
    opacity: 1;
    position: fixed;
    animation-name: taps;
    top: 20%;
    width: 12%;
    height: 4%;
    animation-timing-function: linear;
    z-index: 98;
    transform-origin: center;
}

#leftside {
    margin: 8px;
    width: 20%;
    height: 100%;
    position: fixed;
    padding: 5;

}

#middleside {
    left: 20%;
    width: 60%;
    height: 100%;
    position: fixed;
    background-image: url(bpg6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    touch-action: none;
}

#rightside {
    width: 15%;
    height: 100%;
    left: 85%;
    position: fixed;
    padding: 5;
    margin: 8px;

}

.gamefield_4 {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 0;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0.7);
}

.gamefield_6 {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 0;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0.7);
}

#A {
    left: 20%;
    top: 0;
    display: none;
}

#S {
    left: 20%;
    top: 0
}

#D {
    left: 35%;
    top: 0;
}

#J {
    left: 50%;
    top: 0;
}

#K {
    left: 65%;
    top: 0;
}

#L {
    left: 70%;
    top: 0;
    display: none;
}

/*判定线*/

#line {
    position: fixed;
    top: 80%;
    left: 20%;
    width: 60%;
    border-bottom-style: solid;
    border-color: gold;
    border-width: 5px;
    z-index: 60;
    pointer-events: none;
}

/*进度条*/
#process {
    position: fixed;
    top: 0;
    left: 20%;
    border-color: white;
    width: 0;
    border-bottom-style: solid;
    border-width: 4px;
    z-index: 50;
}

#csq {
    /*文字特效*/
    position: fixed;
    top: 55%;
    left: 40%;
    width: 20%;
    color: gold;
    text-align: center;
    z-index: 60;
    pointer-events: none;
    font-size: 200%;
    animation-name: text;
    animation-duration: 1500ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    visibility: hidden;
    font-family: Algerian;
}

#rankingbg {
    position: fixed;
    top: 0;
    left: 20%;
    width: 60%;
    animation-duration: 750ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    background-color: rgba(0, 0, 0, 0.8);
}

#combo {
    position: fixed;
    width: 5%;
    left: 47.5%;
    font-size: 300%;
    visibility: hidden;
    top: 5%;
    z-index: 50;
    color: gold;
}

#rank {
    width: 5%;
    height: 5%;
    position: fixed;
    font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
    z-index: 101;
    color: white;
    margin: 0;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(20);
    text-align: center;
    animation-name: rank;
    animation-duration: 1500ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    pointer-events: none;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}